<!DOCTYPE html>
<html>
    <head>
        <title>What's Going On : Admin</title>
    </head>
    <body>
        <h2>Admin</h2>
        <ul>
            <li>
                <a href="city">City</a>
            </li>
            <li>
                <a href="venue">Venue</a>
            </li>
            <li>
                <a href="company">Company</a>
            </li>
            <li>
                <a href="show">Show</a>
            </li>
            <li>
                <a href="performance">Performance</a>
            </li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>
