<!DOCTYPE html>
<html>
<head>
	<title>What's Going On : {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" />
</head>
<body>
	<div class="header">
	<h1 class="float-left">What's going on in <a href="/{% block url %}{% endblock %}">{% block heading %}{%endblock%}</a><sup><a href="{% block sub_url %}{% endblock %}">{% block sub_text %}{% endblock %}</a></sup>?</h1>
	<div class="links"><a href="/">Home</a> | Sign In</div>
	<div class="search">
		<form action="/search" method="POST">
			<input type="text" name="term"/>
			<input type="submit" value="search">
		</form>
	</div>
	</div>
	<div id="content">
		<div class="column main rounded">{% block content %}{% endblock %}</div>
		<div class="column secondary">{% block sub_content %}{% endblock %}</div>
		<div class="clear"></div>
	</div>
	<div id="footer">Add your shows | 
		Feedback | 
		<a href="mailto:me@sudhirj.com">&copy; 2009 Sudhir Jonathan</a>	
	</div>
</body>
</html>
