<!DOCTYPE html>
<html>
<head>
	<title>What's Going On : {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" />
</head>
<body>
	<h1>What's going on in <a href="/{% block url %}{% endblock %}">{% block heading %}{%endblock%}</a><sup><a href="{% block sub_url %}{% endblock %}">{% block sub_text %}{% endblock %}</a></sup>?</h1>
	
	<div class="column main rounded">{% block content %}{% endblock %}</div>
	<div class="column secondary">{% block sub_content %}{% endblock %}</div>
</body>
</html>
